<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" version="2.5">
  <display-name>shopcart</display-name>
  <session-config>
    <session-timeout>30</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>admin</display-name>
    <servlet-name>admin</servlet-name>
    <servlet-class>com.logicify.shopcart.servlet.admin.admin</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>admin</servlet-name>
    <url-pattern>/admin/panel</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewcat</display-name>
    <servlet-name>viewcat</servlet-name>
    <servlet-class>com.logicify.shopcart.servlet.admin.viewcat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewcat</servlet-name>
    <url-pattern>/admin/viewcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addprod</display-name>
    <servlet-name>addprod</servlet-name>
    <servlet-class>com.logicify.shopcart.servlet.admin.addprod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addprod</servlet-name>
    <url-pattern>/admin/addprod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>addcat</display-name>
    <servlet-name>addcat</servlet-name>
    <servlet-class>com.logicify.shopcart.servlet.admin.addcat</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>addcat</servlet-name>
    <url-pattern>/admin/addcat</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>viewprod</display-name>
    <servlet-name>viewprod</servlet-name>
    <servlet-class>com.logicify.shopcart.servlet.admin.viewprod</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>viewprod</servlet-name>
    <url-pattern>/admin/viewprod</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>qq</display-name>
    <servlet-name>qq</servlet-name>
    <servlet-class>com.logicify.shopcart.servlet.qq</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>qq</servlet-name>
    <url-pattern>/qq</url-pattern>
  </servlet-mapping>
</web-app>